<section class="about section d-block p-0">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text">
                        <h3>
                            I'm Ravindra Pawar and <span>Software Developer</span>
                        </h3>
                            <p>Software Engineer with over 5 years of professional experience in developing, testing and maintaining software applications. 
                                Proven ability to analyze problems, design and develop suitable solutions while adhering to established software development 
                                principles and standards. Highly organized, detail-oriented and self-motivated individual with excellent communication and 
                                problem-solving skills. Experienced in working within different software development life cycles (SDLC) and process models 
                                like Waterfall, Agile and Spiral. Hands-on experience with programming languages such as Java, C#, Python, JavaScript and SQL. 
                                Skilled in utilizing databases including MS SQL Server, Oracle, and MySQL.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="row">
                            <div class="info-item padd-15" *ngFor="let item of personalInfo">
                                <p>{{item?.itemName}}: <span>{{item?.itemValue}}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="buttons padd-15">
                                <a href="#" class="btn">Download CV</a>
                                <a href="/contact" class="btn hire-me">Hire Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="skills padd-15">
                        <div class="row">
                            <div class="skill-item padd-15" *ngFor="let obj of skillsInfo">
                                <h5>{{obj?.skillName}}</h5>
                                <div class="progress">
                                    <div class="progress-in"  [ngStyle]="'width':{{obj?.percentage}}" style="width: 76%;"></div>
                                    <div class="skill-percent">{{obj?.percentage}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>