<section class="service section d-block p-0">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Services</h2>
            </div>
        </div>
        <div class="row">
            <!-- servies item start -->
            <div class="service-item padd-15" *ngFor="let service of servicesItems">
                <div class="service-item-inner">
                    <div class="icon">
                        <i [class]="service?.icon" aria-hidden="true"></i>
                    </div>
                    <h4>{{service?.name}}</h4>
                    <p>{{service?.description}} </p>
                </div>
            </div>
            <!-- service item end -->
        </div>
    </div>
</section>