<section class="service section d-block p-0">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Services</h2>
            </div>
        </div>
        <div class="row">
            <!-- servies item start -->
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class='fa fa-code'></i>
                    </div>
                    <h4>Web Design</h4>
                    <p>Full-Stack Developer with 6+ years of experience developing web 
                        applications utilizing Angular, .NET Core, C#, and SQL Server. 
                        Proven track record of successful implementations from design to 
                        deployment, with a focus on delivering quality code and results. 
                    </p>
                </div>
            </div>
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <h4>Web Design</h4>
                    <p>Full-Stack Developer with 6+ years of experience developing web 
                        applications utilizing Angular, .NET Core, C#, and SQL Server. 
                        Proven track record of successful implementations from design to 
                        deployment, with a focus on delivering quality code and results. 
                    </p>
                </div>
            </div>
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <h4>Web Design</h4>
                    <p>Full-Stack Developer with 6+ years of experience developing web 
                        applications utilizing Angular, .NET Core, C#, and SQL Server. 
                        Proven track record of successful implementations from design to 
                        deployment, with a focus on delivering quality code and results. 
                    </p>
                </div>
            </div>
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-code"></i>
                    </div>
                    <h4>Web Design</h4>
                    <p>Full-Stack Developer with 6+ years of experience developing web 
                        applications utilizing Angular, .NET Core, C#, and SQL Server. 
                        Proven track record of successful implementations from design to 
                        deployment, with a focus on delivering quality code and results. 
                    </p>
                </div>
            </div>
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <h4>Web Design</h4>
                    <p>Full-Stack Developer with 6+ years of experience developing web 
                        applications utilizing Angular, .NET Core, C#, and SQL Server. 
                        Proven track record of successful implementations from design to 
                        deployment, with a focus on delivering quality code and results. 
                    </p>
                </div>
            </div>
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <h4>Web Design</h4>
                    <p>Full-Stack Developer with 6+ years of experience developing web 
                        applications utilizing Angular, .NET Core, C#, and SQL Server. 
                        Proven track record of successful implementations from design to 
                        deployment, with a focus on delivering quality code and results. 
                    </p>
                </div>
            </div>
            <!-- service item end -->
        </div>
    </div>
</section>