<div class="main-body-wrapper">
    <!-- <div class="container-fluid p-0 m-0">
        <app-header></app-header>
    </div> -->
    <div class="row container-fluid p-0 m-0">
        <div *ngIf="isHorizontalNav" class="col-2 sidenav-wrapper p-0">
            <app-sidenav (optionSelected)="optionSelected($event)" (changeLayout)="changeLayout($event)" [isHorizontalNav]="0"></app-sidenav>
        </div>
        <div *ngIf="!isHorizontalNav" class="col-2 sidenav-wrapper-horizontal p-0">
            <app-sidenav (changeLayout)="changeLayout($event)" (optionSelected)="optionSelected($event)"
            [isHorizontalNav]="1"></app-sidenav>
        </div>
        <div class="col-10 col-md-12 col-sm-12 col-lg-10 main-section-container p-0" 
        [ngStyle]="{'width' : !isHorizontalNav ? '100%' : '', 'height' : !isHorizontalNav ? '89vh' : '100vh'}">
            <div (click)="showPopup(1, $event)" class="nav-toggler">
                <span></span>
            </div>
            <div *ngIf="showPopover" class="nav-popover">
                <app-sidenav (changeLayout)="changeLayout($event)" 
                [isHorizontalNav]="0"></app-sidenav>
            </div>
            <div class="page-wise">
                <router-outlet></router-outlet>
            </div>
            <div class="all-sections">
                <app-home id="Home1234"></app-home>
                <app-about id="About1234"></app-about>
                <app-services id="Services1234"></app-services>
                <app-portfolio id="Portfolio1234"></app-portfolio>
                <app-contact id="Contact1234"></app-contact>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid p-0 m-0">
        <app-footer></app-footer>
    </div> -->
</div>

