<section class="section portfolio d-block p-0">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Portfolio</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-heading padd-15">
                <h2>My Last Projects : </h2>
            </div>
        </div>
        <div class="row">
            <!-- portfolio item start -->
            <div class="portfolio-item" *ngFor="let item of portfolioDetails">
                 <div class="overlay"> 
                        <div class="portfolio-overlay-buttons padd-15">
                            <a class="btn btn-overlay">Show</a>
                        </div>
                </div>
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img [src]="item?.imagePath" alt="">
                    </div>
                </div>
            </div>
            <!-- portfolio item end -->
              <!-- portfolio item start -->
              <div class="portfolio-item" *ngFor="let item of portfolioDetails">
                 <div class="overlay"> 
                        <div class="portfolio-overlay-buttons padd-15">
                            <a class="btn btn-overlay">Show</a>
                        </div>
                </div>
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img [src]="item?.imagePath" alt="">
                    </div>
                </div>
            </div>
            <!-- portfolio item end -->
              <!-- portfolio item start -->
              <div class="portfolio-item" *ngFor="let item of portfolioDetails">
                 <div class="overlay"> 
                        <div class="portfolio-overlay-buttons padd-15">
                            <a class="btn btn-overlay">Show</a>
                        </div>
                </div>
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img [src]="item?.imagePath" alt="">
                    </div>
                </div>
            </div>
            <!-- portfolio item end -->
              <!-- portfolio item start -->
              <div class="portfolio-item" *ngFor="let item of portfolioDetails">
                 <div class="overlay"> 
                        <div class="portfolio-overlay-buttons padd-15">
                            <a class="btn btn-overlay">Show</a>
                        </div>
                </div>
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img [src]="item?.imagePath" alt="">
                    </div>
                </div>
            </div>
            <!-- portfolio item end -->
              <!-- portfolio item start -->
              <div class="portfolio-item" *ngFor="let item of portfolioDetails">
                 <div class="overlay"> 
                        <div class="portfolio-overlay-buttons padd-15">
                            <a class="btn btn-overlay">Show</a>
                        </div>
                </div>
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img [src]="item?.imagePath" alt="">
                    </div>
                </div>
            </div>
            <!-- portfolio item end -->
              <!-- portfolio item start -->
              <div class="portfolio-item" *ngFor="let item of portfolioDetails">
                <div class="overlay"> 
                        <div class="portfolio-overlay-buttons padd-15">
                            <a class="btn btn-overlay">Show</a>
                        </div>
                </div>
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img [src]="item?.imagePath" alt="">
                    </div>
                </div>
            </div>
            <!-- portfolio item end -->
        </div>
    </div> 
</section>