<div class="section home">
    <div class="container">
        <div class="row">
            <div class="home-info padd-15">
                <h3 class="hello">Hello, my name is <span class="name">Ravindra Pawar</span></h3>
            <h3 class="my-profession">I'm a <span class="typing">Software Engineer</span></h3>
            <p>I'm a software Engineer with extensive experience for over 4+ years. 
                My expertise is to create web applications, websites and many more...</p>
                <a [routerLink]="['/features/contact']" class="btn hire-me">Hire Me</a>
            </div>
            <div class="home-img padd-15">
                <img src="assets/images/profile.jfif" alt="">
            </div>
        </div>
    </div>
</div>