<section class="section contact d-block p-0">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contact Me</h2>
            </div>
        </div>
        <h3 class="contact-title padd-15">Have You Any Quesitons ?</h3>
        <h4 class="contact-sub-title padd-15">I'M AT YOUR SERVICES</h4>
        <div class="row">
            <!-- contact info item start-->
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-phone"></i></div>
                <h4>Call us on</h4>
                <p>+91 9923 808 630</p>
            </div>
            <!-- contact info item end-->
            <!-- contact info item start-->
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <h4>office</h4>
                <p>Pune</p>
            </div>
            <!-- contact info item end-->
            <!-- contact info item start-->
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <h4>Email</h4>
                <p>pawarravindra1217@gmail.com</p>
            </div>
            <!-- contact info item end-->
            <!-- contact info item start-->
            <div class="contact-info-item padd-15">
                <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                <h4>Website</h4>
                <p>www.ravindrapawar.com</p>
            </div>
            <!-- contact info item end-->
        </div>
        <h3 class="contact-title padd-15">SEND ME AN EMAIL?</h3>
        <h4 class="contact-sub-title padd-15">I'M VERY RESPONSIVE TO MESSAGES</h4>
        <!-- contact form start -->
        <div class="row">
            <div class="contact-form padd-15">
                <div class="row">
                    <div class="form-item col-6 padd-15">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-item col-6 padd-15">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-12 padd-15">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-12 padd-15">
                        <div class="form-group">
                            <textarea name="" id="" class="form-control" cols="30" placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-12 padd-15">
                        <div class="form-group">
                            <button type="submit" class="btn">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact form end -->
    </div>
</section>