<section class="section contact d-block p-0">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contact Me</h2>
            </div>
        </div>
        <h3 class="contact-title padd-15">Have You Any Quesitons ?</h3>
        <h4 class="contact-sub-title padd-15">I'M AT YOUR SERVICES</h4>
        <div class="row">
            <!-- contact info item start-->
            <div class="contact-info-item padd-15" *ngFor="let contact of contactDetails">
                <div class="icon"><i [class]="contact?.icon"></i></div>
                <h4>{{contact?.keyName}}</h4>
                <p>{{contact?.keyValue}}</p>
            </div>
            <!-- contact info item end-->
        </div>
        <h3 class="contact-title padd-15">SEND ME AN EMAIL?</h3>
        <h4 class="contact-sub-title padd-15">I'M VERY RESPONSIVE TO MESSAGES</h4>
        <!-- contact form start -->
        <div class="row">
            <div class="contact-form padd-15" [formGroup]="contactForm">
                <div class="row">
                    <div class="form-item col-6 padd-15">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" formControlName="name">
                        </div>
                    </div>
                    <div class="form-item col-6 padd-15">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" formControlName="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-12 padd-15">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject" formControlName="subject">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-12 padd-15">
                        <div class="form-group">
                            <textarea name="" id="" class="form-control" cols="30" placeholder="Message" formControlName="message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-12 padd-15">
                        <div class="form-group">
                            <button (click)="onSubmit(contactForm.value)" type="submit" class="btn">Send Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact form end -->
    </div>
</section>